body{
	background:#292f3a;
	color:#c3cbdb;
	padding-top: 115px;
}

.input-quick{
	background: rgb(108, 108, 108);
	color:white;
}

.modal-body{
	background:#292f3a;
	color:#c3cbdb;
}

.modal-header{
	background: rgb(108, 108, 108);
	color:white;
}

.modal-footer{
	background: rgb(108, 108, 108);
	color:white;
}

.form-control{
	background: rgb(108, 108, 108);
	color:white;
}

.btn-default{
	background: rgb(108, 108, 108);
	color:white;
	border-color: white;
}

form.go-bottom > div {
  position: relative;
}
form.go-bottom > div > label {
  position: absolute;
}

form.go-bottom > div > label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
  color:white;
  visibility: hidden;
}
form.go-bottom > div > input:focus + label{
  top: 100%;
  margin-top: -16px;
  visibility: visible;
}

form.go-bottom > div > input:valid {
  background: rgb(108, 108, 108);
}

.fixedElement {
	color:white;
    background-color: rgb(136, 136, 136);
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}